<div *ngIf="countryData">
  <div class="content-container">
    <div class="title-container">
      <h2>{{ countryData.country }}</h2>
    </div>

    <div class="stats-container">
      <div class="participations-container">
        <h3>Number of entries: {{ countryData.participations.length }}</h3>
      </div>
      <div class="medals-container">
        <h3>Total number medals: {{ totalMedalsWon }}</h3>
      </div>
      <div class="athletes-container">
        <h3>Total number of athletes: {{ totalAthletesEntered }}</h3>
      </div>
    </div>
  </div>
</div>

<div *ngIf="medalsByEditionChartData">
  <div class="chart-container">
    <app-chart style="width: 700px;" [chartData]="medalsByEditionChartData" [chartLabels]="medalsByEditionChartLabels" [chartType]="'line'"></app-chart>
  </div>
</div>

<div class="center">
  <a routerLink="">Back to Medals per country</a>
</div>
